@{
  Layout = "_Layout";
}

@using PierresTreats.Models

<div class="container">
  <h1>Flavors</h1>
  
  @if (Model.Count <= 1)
  {
    <h2>You haven't added any Flavors. Click @Html.ActionLink("here", "Create") to add an Flavor.</h2>
  }
  
  <ul>
    @foreach (Flavor flavor in Model)
    {
      @if (flavor.FlavorId > 1)
      {
      <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", new { id = flavor.FlavorId })</li>
      }
    }
  </ul>
  
  @if(Model.Count > 1)
  {
    <p>@Html.ActionLink("Add Another Flavor", "Create")</p>
  }
  
  <p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
